<!DOCTYPE html>
<html lang="en">
<head>
  <title>InstaPay client app</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<% include ./comm_navbar.html %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Channels</h3>
        </div>
          <% include ./channel_menu.html %>
      </div>
    </div>
    <div class="col-md-10">
      <h1>My channels</h1>
      <table class="table">
        <thead>
          <tr>
            <th>CID</th>
            <th>My address</th>
            <th>Other's address</th>
            <th>Status</th>
            <th>Detail</th>
            <th>Close</th>
          </tr>
        </thead>
        <tbody>
          <% for (var i = 0; i < channels.length; i++) {
              var channelID = channels[i].channelID;
              var myAddress = channels[i].myAddress;
              var myDeposit = channels[i].myDeposit;
              var myBalance = channels[i].myBalance;
              var otherAddress = channels[i].otherAddress;
              var otherDeposit = channels[i].otherDeposit;
              var otherBalance = channels[i].otherBalance;
              var status = channels[i].status;
              var versionNumber = channels[i].versionNumber;
              var closeTimeInterval = channels[i].closeTimeInterval;
              var modalID = 'channelModal' + i; %>
              <tr>
                <form method="post" action="/channel/request/closeConfirm">
                  <td><%= channelID %></td>
                  <td><%= myAddress %></td>
                  <td><%= otherAddress %></td>
                  <td><%= status %></td>
                  <td><button type="button" id="detail_modal" class="btn btn-light" data-toggle="modal" data-target="#<%= modalID %>">detail</button></td>
                  <input type="hidden" id="ch_id" name="ch_id" value="<%= channelID %>">
                  <td><button type="submit" class="btn btn-light">close</button></td>
                </form>
              </tr>
              <div class="modal" id="<%= modalID %>">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Detail request information</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                      <p class="font-weight-bold">My deposit: <%= myDeposit %></p>
                      <p class="font-weight-bold">Other's deposit: <%= otherDeposit %></p>
                      <p class="font-weight-bold">My balance: <%= myBalance %></p>
                      <p class="font-weight-bold">Other's balance: <%= otherBalance %></p>
                      <p class="font-weight-bold">Version number: <%= versionNumber %></p>
                      <p class="font-weight-bold">Closing response time: <%= closeTimeInterval %> seconds</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>

</body>
</html>